.App-header{
    position: relative;
    float: left;
    width: 100%;
    background-color: #ffa4a4;
    border-radius: 0 0 30px 30px;
    box-shadow: 5px 10px 15px #888888;
    clear: both;
}
.App-logo{
    width: 100px;
    height: 100px;
    left: 2%;
    float: left;
    position: relative;
}
.tabs{
    clear: both;
    margin-top: 50px;
    float: left;
    position: relative;
    left: 20%;
    width: 60%;
}
.tab {
    
    overflow: hidden;
    background-color: #c4e2ff;
    border-radius: 20px 20px 0 0 ;
    
}


.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 25px;
    color: #888888;
}







.tabcontent {
    display: none;
    background-color: #ececec;
    padding: 6px 12px;
    border-top: none;
    border-radius: 0 0 20px 20px;
}