.App-header{
    position: relative;
    float: left;
    width: 100%;
    background-color: #ffa4a4;
    border-radius: 0 0 30px 30px;
    box-shadow: 5px 10px 15px #888888;
    clear: both;
}
.App-logo{
    width: 100px;
    height: 100px;
    left: 2%;
    float: left;
    position: relative;
}
.tabs{
    clear: both;
    margin-top: 50px;
    float: left;
    position: relative;
    left: 20%;
    width: 60%;
}
.tab {
    
    overflow: hidden;
    background-color: #c4e2ff;
    border-radius: 20px 20px 0 0 ;
    
}


.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    font-size: 25px;
    color: #888888;
}

.shiftContainer{
    display: flex;
    flex-direction: column;
}
.shift{
    flex: 1 1;
    padding: 20px 0 0 0;
    color: black;
    font-size: 22px;
    border-bottom: 1px solid white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color: #456C92;
    background-color: #dedede;
    float: left;
    position: relative;
    clear: both;
    width: 100%;
}
.cancel{
    background-color: transparent;
    border: 1px solid #E2006A;
    color: #E2006A;
    font-size: 16px;
    font-weight: 600;
    float: right;
    position: relative;
    padding: 10px 30px;
    border-radius: 40px;
    outline: none;
    margin-bottom: 8px;
    cursor: pointer;
}
.book{
    background-color: transparent;
    border: 1px solid #16A64d;
    color: #16A64d;
    font-size: 16px;
    font-weight: 600;
    float: right;
    position: relative;
    padding: 10px 30px;
    border-radius: 40px;
    outline: none;
    margin-bottom: 8px;
    cursor: pointer;
}
.check{
    background-color: transparent;
    color: rgb(97, 97, 97);
    font-size: 16px;
    font-weight: 600;
    float: right;
    position: relative;
    padding: 10px 30px;
    border-radius: 40px;
    outline: none;
    margin-bottom: 8px;
    border: none;
}
.bookDisabled{
    color: #76d098;
    border: 1px solid #76d098;
    cursor: not-allowed;
}
.disabled{
    color: #e48787;
    border: 1px solid #e48787;
    cursor: not-allowed;
}
.dates{
    background-color: #dedede;
    padding: 10px 20px;
    font-weight: 600;
    color: #042a4e;
    font-size: 37px;
    
}
.overlap{
    display:none;
    border: none;
}
.areas{
    display: flex;
    flex-direction: row;
    width: 100%;
}
.area{
    flex:1;
    text-align: center;
    font-size: 22px;
    background-color: #66a3bb;
    font-weight: 500;
    padding: 15px;
}
.tabcontent {
    display: none;
    background-color: #ececec;
    border-top: none;
    border-radius: 0 0 20px 20px;
}
 
@media only screen and (max-width: 570px)
{
    .tabs{
        width: 100%;
        left:0%;
    }
    .area{
        font-size: 15px;
    }
    .tab button{
        font-size: 16px;
    }

}